<div class="hero-unit">
  <h4>'Allo, 'Allo!</h4>
  <p>You now have</p>

  <div class="fluid-container">
  	<div class="row-fluid" ng-repeat="account in data">
  		<div class="span3">{{account.name}}
  			<small>{{balance(account)}}</small>
  			<button class="btn btn-info btn-small" type="submit" ng-click="add(account)">+</button>
  		</div>
  		<div class="5">
			<div id="placeholder">something something 
			http://www.flotcharts.org/flot/examples/basic-usage/index.html</div>
  		</div>
  	</div>
  </div><span class="badge badge-success">2</span>


</div>

